<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="cxi" value="https://pkgs.dev.azure.com/Customerxi/7744d0ac-6bc1-4039-b0b8-2543d12c2f99/_packaging/cxi/nuget/v3/index.json" /> 
  </packageSources>
</configuration>